/* src
/assets/styles/main.css */
@import "tailwindcss";
body {
  margin: 0;
  padding: 0;
  background-image: url("/src/assets/images/logos/BG 002.png");
  background-repeat: no-repeat;
  background-position: top center;
  width: 100%;
  box-sizing: border-box;
  /* background-size: cover; */
  overflow: auto;
  height: auto;
 
}

@keyframes glow-line {
  0%, 100% {
    box-shadow: 0 0 0px #00ff84;
  }
  50% {
    box-shadow: 0 0 12px 2px #00ff84;
  }
}

.animate-glow-line {
  animation: glow-line 1.5s infinite ease-in-out;
}




@keyframes rotatePurple {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-rotatePurple {
  background-image: conic-gradient(transparent, transparent, transparent, #f700ff);
  animation: rotatePurple 4s linear infinite;
  top: -100px;
  left: -100px;
  position: absolute;
  border-radius: 50%;
}






